#div-titolo-sito {
    background-color: blue;
    padding: 10px 20px 10px 0px;
    height: 30%;
}

#titolo-sito {
    color: red;
    text-align: center;
}

#riga-verde {
    width: 100%;
    height: 70%;
    background-color: green;
}

#div-container {
    width: 100%;
     height: 100%; 
     background-color: lightgrey
}